<launch>

    <!-- Bosch BNO055 Driver -->
    <node pkg="rr_bosch_bno055_imu" type="bosch_imu_node.py" name="bosch_imu_node" output="screen" >
        <param name="port" value="/dev/imu" />
        <param name="frame_id" value="imu_link" />
        <param name="frequency" value="30" />
        <param name="operation_mode" value="8" />
        <param name="accel_covariance" value="3.34e-5" />
        <param name="gyro_covariance" value="4.9e-5" />
    </node>

</launch>
